<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- Include _menu.html -->
<th:block th:include="/menu"></th:block>
<b>Day la trang Admin chuan luon</b>
<div class="container">
    <h2>Bordered Table</h2>
    <p>The .table-bordered class adds borders to a table:</p>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>John</td>
            <td>Doe</td>
            <td>john@example.com</td>
        </tr>
        <tr>
            <td>Mary</td>
            <td>Moe</td>
            <td>mary@example.com</td>
        </tr>
        <tr>
            <td>July</td>
            <td>Dooley</td>
            <td>july@example.com</td>
        </tr>
        </tbody>
    </table>
</div>
<div class="row">
    <button id="send">send</button>
</div>

<script>
    $("#send").click(function () {
        var token = localStorage.getItem('token');
        console.log("vao ham " + token);

        $.ajax({
            type: "GET",
            url: "http://localhost:8080/test/user",
            dataType: "json",
            headers: {
                headers: {"Authorization": token}
            },
            success: function (response) {
                console.log(response);
            },
            error: function (err) {
                console.log(err);
            }
        });
    });
</script>
</body>
</html>