<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>


<ul class="nav nav-tabs nav-justified">
    <li class="active"><a href="#">Home</a></li>
    <li><a href="#">Menu 1</a></li>
    <li><a href="#">Menu 2</a></li>
    <li><a href="#">Menu 3</a></li>
</ul>
<br>

<div class="container">
    <h2>hihi Bordered Table</h2>
    <p>The .table-bordered class adds borders to a table:</p>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody id="table-data">

        </tbody>
    </table>
</div>
<div class="row">
    <button id="send">send</button>
</div>

<script>
    $("#send").click(function () {
        var token = localStorage.getItem('token');
        console.log("token = " + token);

        $.ajax({
            type: "GET",
            url: "http://localhost:8080/api/test/user",
            dataType: "json",
            headers: {
                'Authorization': 'Bearer ' + token,
                'X-CSRF-TOKEN': 'xxxxxxxxxxxxxxxxxxxx',
                'Content-Type': 'application/json'
            },
            success: function (response) {
                response.forEach(element => {
                    var html_text = `<tr>
                                            <td>${element.id}</td>
                                            <td>${element.username}</td>
                                            <td>${element.email}</td>
                                        </tr>`;
                    $("#table-data").append(html_text);
                });

            },
            error: function (err) {
                console.log(err);
            }
        });
    });
</script>
</body>
</html>

